
*{
    font-family: 'Montserrat', sans-serif;
}
BlackBigText{
    font-size: 25;
}

White{
    color: #f3f3f3;
}
Green{
    color: rgb(7, 88, 7);
    font-size: 15pt;
}
Black{
    color: black;
    font-size: 20pt;
}
BlackGreen{ 
    color: rgb(43, 152, 85);
    font-size: 15pt;
}
a{
    color: rgb(10, 159, 135);
    font-size: 15pt;
}
.fistaszek {
    color: black;
    font-size: 15pt;
}
p{
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    font-size: 15pt;
    
}
h1{
    font-size: 30pt;
    padding:  20pt 10pt 10pt 450pt;
    
}
.dexter{
    border: 0px;
margin: 15px;
padding: 0px;
background-color: rgb(34, 83, 34);
font-size: 30px;
color: aliceblue;
}
header{
    background-color: rgb(34, 83, 34);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
    

}

.holder1{
    position: relative;
    left: 10px;
    top: 15px;
}
.holder2{
    position: relative;
    left: 200px;
    bottom: 49px;
}
.holder3{
    position: relative;
    left: 350px;
    bottom: 115px ;
}
.Block{
    display:none;
    margin-left:0px;
    padding:10px;
    margin-top: 0px;
    background:#f3f3f3;
    height:200px;

    -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
    box-shadow:0 5px 5px rgba(0,0,0,0.3);  
}  

.holder1:hover .Block{
    display:block;
    position:absolute;
    top:50px;
    z-index:9999;
    width:400px;
}
.holder2:hover .Block{
    display:block;
    position:absolute;
    top:50px;
    z-index:9999;
    width:400px;
}
.holder3:hover .Block{
    display:block;
    position:absolute;
    top:50px;
    z-index:9999;
    width:400px;
}
.poster{
    position:relative;
    margin:100px auto;
    background:#ff6600;
    height:200px;
    width:150px;
}
.vl {
    border-left: 6px solid green;
    height: 1000px;
    position: absolute;
    left: 19%;
    margin-left: 160px;
    top: 108;
}



.button{
    margin: 0;
    border: 0;
    padding: 0;
    color: black;
    background-color: aliceblue;
    font-size: 15px;
}
.test{
    color: black;
    
    a{
        color: black;
    }
}

.lakomyi{
    position: absolute;
    left: 460;
    top: 580;
}
.position2{
    position: absolute;
    left: 780;
    top:580px;
}


.Albert{
   position: absolute;
   left: 460;
   top:120;
}
.Masha{
    padding-left: 620px ;
}
.position1{
    position: absolute;
    left: 750;
    top:116;
}

.Blue{
    color: blue;
    font-size: 60pt;
    
}
.blueheader{
    background-color: rgb(78, 108, 163);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 15px;
    width: 2000px;
}
p{
    font-size: 40px;
}
krewipopiol{
    position:absolute;
    right: 900px;
    top: 130px;
  }
krewipopiol u{
    color: black;
}
.imgkrewipopiol{
    height: 500px;
  }
u{
    color: green;
}
zaplanowano u{
    color: blue;
}
.opis{
    font-size: 20px;
    position:absolute;
    right:20px;
    top: 190px;
    text-align: right;
}
zaplanowano{
    margin: 30%;
}


@media only screen and (min-width: 0) and (max-width: 800px) {
    h1{
        font-size: 30pt;
        padding:  0%  10% 0% 20%;
        
    }
    header{
        background-color: rgb(34, 83, 34);
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
        height: 80px;
        
    
    }
    .dexter{
        border: 0px;
    margin: 15px;
    padding: 0px;
    background-color: rgb(34, 83, 34);
    font-size: 20px;
    color: aliceblue;
    }
    .holder1{
        position: relative;
        left: 0%;
        top: 1px;
    }
    .holder2{
        position: relative;
        left: 90px;
        bottom: 55px;
    }
    .holder3{
        position: relative;
        left: -2px;
        bottom: 80px ;
    }
    Black{
        color: black;
        font-size: 15pt;
    } 
.Blue{
    color: blue;
    font-size: 30pt;
    margin: 40px;
}
.blueheader{
    background-color: rgb(78, 108, 163);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 8x;
    width: 373px;

}
u{
    color: green;
}
zaplanowano u{
    color: blue;
}
zaplanowano{
    color: blue;
}
p{
    font-size: 30px;
}
krewipopiol{
    position:absolute;
    right:20px;
    top: 80px;
  
}
krewipopiol u{
    color: rgb(0, 0, 0);
}
.opis{
    font-size: 20px;
    position:absolute;
    right:20px;
    top: 120px;
    text-align: right;
}
.imgkrewipopiol{
    height: 200px;
  }
/* ______________________*/

}
